<form action="/answer" method="get">
	<h1>Abuela sorda</h1>
	<label>Di algo abuela:</label>
	<br>
	<input type="text" placeholder="Di algo abuela" name="content">
	<button type="submit" class="btn">Dilo!</button>
</form>